.navBar{
    width: 18.75%;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    
    .logo{
        width: 100%;
        position: relative;

        img{
            width: 80%;
            position: static;
            z-index: 1;
        }
    }

    h4{
        margin-top: 40px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        text-transform: uppercase;
        color: #979797;
        line-height: 190%;
    }

    .navigation{
        overflow-y: scroll;
        
        ul{
            li{
                margin: 7px 0px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 1.6rem;
                line-height: 150%; 
                color: #FFFFFF;
                cursor: pointer;

                &.selected{
                    background: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, #2D3038 100%);
                    border-radius: 10px;
                }
            }
        }
    }
}