@use "../helpers/variables" as *;

.company{
    width: 100%;
    height: 75vh;
    margin-top: 40px;
    background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
    border-radius: 30px;
    padding:29px 51px;

    h1{
        font-style: normal;
        font-weight: normal;
        font-size: 6.4rem;
        line-height: 116%;

        color: #FFFFFF;

    }

    h2{
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        color: #979797;
    }

    h3{
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        text-transform: uppercase;
        color: #979797;
    }

    input{
        width: 35%;
        height: 50px;
        padding: 0.26% 2%;

        background: #FFFFFF;
        border-radius: 10px;

        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        color: #000000;
    }

    h4{
        font-style: normal;
        font-weight: normal;
        font-size: 3.4rem;
        line-height: 129%;
        color: #979797;
    }

    h5{
        font-style: normal;
        font-weight: normal;
        font-size: 5.6rem;
        line-height: 118%;
        color: #FFFFFF;
    }
}

@media (max-width: $mobileView) {
    .company{
        width: 90%;
        height: calc(100vh - 140px);
        align-self: center;
        background: linear-gradient(124.01deg, #2D3038 0%, rgba(45, 48, 56, 0) 100%);
        border-radius: 30px;
        padding:7% 5%;
        margin-top:20px;
    
        h1{
            font-size: 2.8rem;
            line-height: 136%;
        }
    
        input{
            width: 100%;
            height: 50px;
            padding: 0.26% 2%;
    
            background: #FFFFFF;
            border-radius: 10px;
    
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 150%;
            color: #000000;
        }
    
        h4{
            width: 100%;
            text-align: center;
            font-size: 1.8rem;
            line-height: 111%;
            margin-top: 30px;
        }
    
        h5{ 
            width: 100%;
            text-align: center;
            font-size: 3.4rem;
            line-height: 129%;
        }
    }
}